<a href="https://colab.research.google.com/github/sandralayas/library/blob/main/Dictionary_and_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Dictionary***

In [3]:
dictionary={'rollno':123,'name':'naruto','marks':40.5}
for keys in dictionary:print(keys,'\t\t',dictionary[keys])

rollno 		 123
name 		 naruto
marks 		 40.5

***Tuples***

In [11]:
tuples=(1,2,3,4)
for keys in tuples:print(keys,end='.')

1.2.3.4.

In [12]:
print(tuples*3)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

***Sets***


1.   unchangable
2.   doesn't support duplicates
3.   not ordered

In [19]:
sets={1,2,3,4,5}
print(type(sets),sets)

sets.add(10)
sets.add(12)

sets.remove(10)

print(sets)

sets.discard(12)

print(sets)

<class 'set'> {1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 12}
{1, 2, 3, 4, 5}

Union

In [23]:
seta={1,2,3,4}
setb={3,4,5,6}

print(seta.union(setb))
print(seta.intersection(setb))

print(list(seta),list(setb))

{1, 2, 3, 4, 5, 6}
{3, 4}
[1, 2, 3, 4] [3, 4, 5, 6]